# Dependencies
/node_modules
/.pnp
.pnp.js
.image-service-venv/
.cache/
image-service-output/

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files — JANGAN COMMIT!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
